<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <title>go-web-dynamo-auth0-starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
  </head>

  <body>
    <button onclick="window.location.href='/login';">Log in</button>
    <p>
      <a href="https://github.com/kaihendry/go-web-dynamo-auth0-starter"
        >Source</a
      >
    </p>
  </body>
</html>
